 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #101d2c;
  --secondary-color: rgb(178, 133, 81);
  --light-color: #eeeeee;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

/* utiltiy classes */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

.btn-primary {
  background-color: var(--light-color);
  color: var(--primary-color);
  padding: 12px 14px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--light-color);
  position: sticky;
  top: 0;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
  font-size: 18px;
  font-weight: 900;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--light-color);
  padding: 12px 8px;
  display: block;
  transition: all 0.4s ease-in;
}

.navbar ul li a:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.header {
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(178, 133, 81, 0.8)),
    url("./assets/img/bg.jpg") no-repeat center center/cover;
  background-size: 100% 100%, cover;
  width: 100vw;
  height: 90vh;
}

.header .max-content {
  width: 100%;
  max-width: 600px;
  color: var(--light-color);
}

.header .max-content h1 {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 12px;
}

.header .max-content p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
  text-align: center;
}

.banner {
  display: flex;
  background-color: var(--primary-color);
  height: 100vh;
}

.banner-img,
.banner-content {
  width: 50%;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

.banner-content {
  padding: 20px 50px;
  color: var(--light-color);
  font-size: 18px;
}

.banner-content h3 {
  font-size: 42px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 12px;
}

.banner-content h3 span {
  color: var(--secondary-color);
}

.banner-content p {
  text-align: justify;
  margin-bottom: 16px;
}

.what {
  display: flex;
}

.what .what-box {
  padding: 40px 25px;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.what .what-box .icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.what .what-box h3 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 12px;
}

.what .what-box p {
  text-align: center;
}

.what .what-box:nth-child(2) {
  background-color: var(--secondary-color);
}

.footer {
  text-align: center;
  color: var(--primary-color);
  background-color: var(--light-color);
}